<label>Server Name</label>
<!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"> -->
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->

<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>

<!-- *ngIf the star indicate it is a structural directive -->
<!-- it will add or remove the element from the DOM. -->
<!-- <p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
- use # as marker as you can see the else variable point to the marker created below
<ng-template #noServer>
    <p>No Server was created!</p>
</ng-template> -->
<app-server *ngFor="let server of servers"></app-server>
<!-- <app-server></app-server> -->